<%- include('./partials/header') %>
<div class="container m-5">
  <div class="jumbotron">
    <h1><% if(data.head) {%>
      <%= data.head %>
   <% } %>
    </h1>
    <hr>
    <!-- include index.ejs -->
    <%- include('./todos/index') %>
  </div>
</div>

<%- include('./partials/footer') %>

