<%- include('partials/header') %>

    <div class="container pt-4">
        <div class="mx-auto text-muted">
            <h1>Welcome Home</h1>
        </div>
        <div class="py-3">
            <pre class="py-5 mx-5" style="font-family: sans-serif; font-weight: normal;">
                Welcome to MyApp, a simple CRUD application built with Node.js,

                 Express, EJS, JWT, and Sequelize with

                MySQL as the database. With MyApp, you can easily Create, Read, Update,
                 and Delete data stored in the

                database using a user-friendly web interface.

                 MyApp uses JWT authentication to secure the endpoints and
                prevent unauthorized access. 

                The app is designed to be scalable and modular, allowing you to easily add
                new features and customize it to your needs. 

                Try MyApp today and see how easy it is to manage your data!
            </pre>
        </div>
    </div>

    <%- include('partials/footer') %>