<%- include('partials/header') %>

<div class="pt-4">
  <div class="text-muted">
    <h1>Welcome Home</h1>
  </div>
  <div class="py-3">
    <pre class="py-5" style="font-family: sans-serif; font-weight: normal">
       <%= data.description %>
    </pre>
  </div>
</div>

<%- include('partials/footer') %>
