<%- include('partials/header') %>
    <div class="container m-5">
        <div class="m-5  card">
            <div class="card-header">
                Sign-up
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group py-2">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username">
                        <label for="" class="error username"></label>
                    </div>
                    <div class="form-group py-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                        <label for="" class="error password"></label>
                    </div>
                    <div class="form-group py-2">
                        <label for="tosagreement" class="px-2">tosAgreement</label>
                        <input type="checkbox" name="tosAgreement">
                        <label for="" class="error tosAgreement"></label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

        <script>
            var form = document.querySelector('form');

            //error fields
            var usernameError = document.querySelector('.error.username')
            var passwordeError = document.querySelector('.error.password')
            var tosAgreementError = document.querySelector('.error.tosAgreement')

            //listen to submit event 
            form.addEventListener('submit', async (e) => {
                e.preventDefault()

                //get input
                var username = form.username.value;
                var password = form.password.value;
                var tosAgreement = form.tosAgreement.checked;
               

                //submit form
                var res = await fetch('/sign-up', {
                    method: "POST",
                    headers: { 'Content-Type': "application/json" },
                    body: JSON.stringify({ username, password, tosAgreement })
                })
                var data = await res.json();
            
                if (data.errors) {
                    usernameError.textContent = data.errors.username
                    passwordeError.textContent = data.errors.password
                    tosAgreementError.textContent = data.errors.tosAgreement

                }
                if(data.user){
                    location.assign('/')
                }
             

            })

        </script>